<body>
  <br>
    <h3> Wanna make a Gab ? </h3>
    <br>
    <form class='' action='/create' method= 'post'>
      <textarea name='createGab' rows='8' cols='80'>
      </textarea>
      <button type='submit' name='button'>Create Gab</button>
    </form>
  </body>
