<center>
<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <br>
  <input type="password" name="password" value="" placeholder="Password">
  <br>
  <button type="submit" name="button">Login</button>
</form>
{{#message}}
  {{.}}
{{/message}}
<h4> Don't have an account? </h4>
<a href="/signup">Signup Here</a>
</center>
