<!DOCTYPE html>
<html lang="en">
  <head>
    <center>
    <img src="/img/logo.png"/>
  </center>

    <meta charset="utf-8">
    <title>Gabble</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container">
      <!-- <a href="/logout">Logout</a> -->
      {{{yield}}}
    </div>
  </body>
</html>
