<center>
  <h4> Prepare to join us on this GABBLED adventure when you sign up below! </h4>
  <form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <button type="submit" name="button">Signup</button>
</form>

<h4> Have an account already?</h4>
<a href="/">Login Here</a>
</center>
